body {
	background-color: #2c3e50;
	background-image: url("https://wallpaperscraft.com/image/board_black_line_texture_background_wood_55220_2560x1080.jpg");
}

.jumbotron {
	background-image: url("http://cdn.c.photoshelter.com/img-get2/I0000kV31NiNeroE/fit=1000x750/Moscow-River-Winter.jpg");
	background-size: 100%;
	background-position: 0 -54;
	padding-bottom: 150px;
	background-repeat: no-repeat;
}

.jumbotron h1 {
	margin-top: -20px;
}

.mysearch {
	padding: 9px 15px;
}

.footer_about {
	padding: 0 20px;
}

.panel {
	opacity: 0.8;
}

.table tbody > tr > td {
	padding: 10px 20px;
}

blockquote {
	margin-left: 5px;
	border-left: 5px solid #333;
}

@media screen and (max-width: 770px) {
    .jumbotron {
    	padding-bottom: 15px;
    }
	.btn-group > .btn {
		font-size: 10px;
	}
	.badge {
		display: block;
		margin-top: 10px
	}
	#click_comment {
		padding: 8px 12px;
	}
}
